page-chatbot {
  background-color: #e2e2e2;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

  .sendtext{
    height: auto;
    border: 1px solid #cb1b58;
    position:fixed;
    width:80%;
    bottom:1%;
    margin-left:3%;
    background-color: rgba(255,246,254,0.99);
    z-index:999;
    padding-top:1%;
    padding-bottom: 1%;
    word-wrap: break-word;
    //bottom: 17%;
    //padding-bottom: 6%;
    border-radius: 25px 25px 25px 25px;
  }

  textarea {max-height: 160px;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;}
  .item input,
  textarea {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
  }

  .sendbutton{

    height: auto;
    position:fixed;
    width:20%;
    bottom:1%;
    margin-left:3%;
    background-color: rgba(255,246,254,0.99);
    z-index:999;
    padding-top:1%;
    padding-bottom: 1%;
    word-wrap: break-word;
    //bottom: 17%;
    //padding-bottom: 6%;
  }
  ion-footer{

    background-color: rgba(203, 27, 88, 0.04);
  }


  .rightalign{
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 0%;
    margin-right: 4%;
    max-width: 80%;


    border: 1px solid #660066;

    display:inline-block;
    padding-top: 1%;
    height:auto;
    padding-bottom: 1%;
    background-color: #660066;
    border-radius: 10px 0px 10px 10px;
  }




  .rightalign_image{
    margin-top: 1%;
    //margin-bottom: 1%;

    //display:inline-block;
    height:auto;
    max-width:80%;

    overflow: hidden;

    margin-right: 4%;
    border: 1px solid #660066;
    background-color: #660066;


    border-radius: 10px 0px 10px 10px;
  }

  .as{
    order: -1;
  }
  input::-webkit-input-placeholder {
    font-size: 10px;
    line-height:1;
  }

  .leftalign{
    margin-top: 0%;
    //display:inline-block;
    height:auto;
    max-width:80%;
    overflow: hidden;

    margin-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid #d9d5de;
    background-color: #d9d5de;
    border-radius: 0px 15px 15px 15px;

  }

  .leftalign_imgae{
    margin-top: 0%;
    margin-bottom: 1%;
    display:inline-block;
    height:auto;
    max-width:80%;
    overflow: hidden;

    margin-left: 4%;
    border: 1px solid #cb1b58;
    background-color: #fbfbfb;
    border-radius: 0px 15px 15px 15px;

  }

  ion-scroll.item{
    height: 45px;
   // width: 100%;
   // white-space: nowrap;
  }

  ion-scroll{
    height: 45px;

    overflow: scroll;
    white-space: nowrap;
  }


  div.scrollmenu {
    background-color: rgba(51, 51, 51, 0);
    overflow: auto;
    white-space: nowrap;
  }



  div.scrollmenu a:hover {
    background-color: #cb1b58;
  }


}
