<!--
  Generated template for the Wallet page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<div style="height: 200px; padding-top: 200px;padding-left: 60px;padding-right:70px;" *ngIf="open">
  <ion-navbar style="padding-left:8px;">
    <img src="assets/icon/shopreload.svg"   style="height:100px; width:100px;margin-left:30%;" (click)="getReviews()"/>
    <p style="text-align: center;color: #cb1b58">Reload</p>

    <ion-buttons >

      <button   ion-button icon-right  block full style="margin-top: 90px;margin-left:10px; " >Open your shop with websupport </button>
    </ion-buttons>
  </ion-navbar>

</div>

<div [hidden]="spinshow" class="spinner-container">
  <ion-spinner></ion-spinner>
</div>



<ion-content style="padding: 0px; " *ngIf="showThis" fullscreen no-padding>



  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <img  *ngIf="wendor.profileimage" [src]="wendor.profileimage" style="z-index: -2; position:fixed;-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))"  (click)="viewphoto(wendor.profileimage)"/>
  <!--
    <img style="width:70px;height:70px;border-radius:70px;position: absolute; margin-top:20%;left:40%;background-color:#862734;box-shadow: #862734; " [src]="wendor.profileimage" />
  -->


  <ion-toggle color="primary" color="energized" style="padding-top:20px;padding-left:20px;position: absolute;" [checked]="wendor.status" (ionChange)="togglechage()"></ion-toggle>


 <!--
  <ion-buttons  style="padding-top:30px;" end>

    <button ion-button icon-right="" clear small  (click)=" profilepc()" >
      <ion-icon name="ios-camera-outline"  color="action"></ion-icon>
    </button>
  </ion-buttons>
-->

  <ion-searchbar   style="margin-top:55px;" #searchbar  [showCancelButton]="true"  [(ngModel)]="iname" (ionInput)="getItems(iname)" (ionFocus)="checkFocus()"  (ionBlur)="checkBlur()"  autofocus>
  </ion-searchbar>

  <div style="padding-right: 10px;padding-left:10px; ">


    <ion-card style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;opacity: 1;margin-top: 70px;margin-bottom: 1px !important;padding-left:10px;padding-right: 10px;" [hidden]="grip">
      <ion-card-content>

        <ion-fab right >
          <button ion-button icon-right clear small  (click)="openeditor()">
            <ion-icon name="md-create"  color="primary"></ion-icon>

          </button>
        </ion-fab>



        <ion-row>
          <ion-col width-100>
            <p  class="card-title"  style="text-align: center">{{wendor.name}}</p>
          </ion-col>

          <ion-col width-10 *ngIf="wendor.rate==null?false:true" >

            <ion-icon name="star" color="{{wendor.rate}}" *ngIf="wendor.rate==null?false:true" ></ion-icon>
          </ion-col>

        </ion-row>


        <p class="card-subtitle" [innerHTML]="wendor.address"></p>

        <ion-row>
          <ion-col width-90>
            <p style="font-size: 0.9em;color: rgba(180,180,180,0.97);text-align: center;"  >{{wendor.catagory}} </p>
          </ion-col>
          <ion-row>

               <ion-icon name="people" style="color: rgba(168,33,88,0.97);"></ion-icon><p style="font-size: 0.7em;color: rgba(180,180,180,0.97);" >{{wendor.fav.length}}</p>
          </ion-row>

        </ion-row>




      </ion-card-content>



    </ion-card>

    <!---- ion card for url and  live tracking--->
    <!--
    <ion-card no-padding [hidden]="grip">
      <ion-card-content>




        <ion-row>

          <!--
                      <ion-checkbox #locationn (ionChange)="chnge()" style="margin-top: 15px;"></ion-checkbox>
          -->

       <!--
        </ion-row>


      </ion-card-content>

    </ion-card>
-->
    <!--- contacts card -->


    <ion-card  no-padding  [hidden]="grip">



      <ion-card-content>


        <ion-fab right>
          <button ion-button icon-right clear small (click)="opencontact()">
            <ion-icon name="md-create"  color="primary"></ion-icon>

          </button>
        </ion-fab>

        <ion-row style="padding-top: 0px;padding-bottom: 0px;">

          <button ion-button icon-left clear small>
            <ion-icon name="ios-mail-outline" color="primary"></ion-icon>
            <p style="font-size:12px;" [innerHTML]="wendor.email"> </p>
          </button>
        </ion-row>
        <ion-row style="padding-top: 0px;padding-bottom: 0px;">
          <ion-col width-75>
            <button ion-button icon-left clear small >
              <ion-icon name="call" color="primary"></ion-icon>
              <div [innerHTML]="wendor.phone"></div>
            </button>
          </ion-col>

          <ion-fab right *ngIf="wendor.status_phone==='true'?true:false">
            <button ion-button icon-right clear small (click)="togglechagephone()">
              <ion-icon name="eye-off"  color="primary"></ion-icon>
            </button>
          </ion-fab>

          <ion-fab right style="margin-right:23px;" *ngIf="wendor.status_phone==='true'?false:true">
            <button ion-button icon-right clear small (click)="togglechagephone()">
              <ion-icon name="eye"  color="primary"></ion-icon>
            </button>
          </ion-fab>


        </ion-row>


      </ion-card-content>

    </ion-card>

    <!-- ion card contacts end -->


    <ion-card  style="padding-top: 0px"  [hidden]="grip">

      <ion-card-header style=" padding-top: 0px" >
        <ion-row>
          <ion-col width-50>
            <h2 style="color:#cb1b58;">Description</h2>
          </ion-col>

          <ion-fab right>
            <button ion-button icon-right clear small (click)="opendiscription()">
              <ion-icon name="md-create"  color="primary"></ion-icon>
            </button>
          </ion-fab>

          <ion-fab right style="margin-right: 30px;">
            <button ion-button icon-right clear small (click)="openbarcode()" >
              <ion-icon name="barcode"  color="primary"></ion-icon>
            </button>
          </ion-fab>




        </ion-row>
      </ion-card-header>

      <div style="width: 100%;height: 1px;background:#cb1b58; "></div>

      <ion-card-content>

        <p style="text-align:justify;padding-top: 10px;white-space:pre;display: block;" [innerHTML]="wendor.discription|safeHtml"></p>
      </ion-card-content>

    </ion-card>


  </div>

  <!--- item -->

  <ion-card style="padding-top: 0px"*ngFor="let itemo of wendor.item | orderBy :['-itemno']" >

    <ion-card-header style="padding-top:3px">
      <ion-row no-padding>
        <ion-col width-50 no-padding>
          <h2 style="color:#cb1b58;" ><b [innerHTML]="itemo.itemname|safeHtml"></b></h2>
          <h6 style="color:rgba(68,48,66,0.53);font-size:10px;" [innerHTML]="itemo.itemno|safeHtml"></h6>
        </ion-col>
        <ion-fab right>
          <button ion-button icon-right clear small (click)="openMenu(itemo.id,itemo.itemname,itemo.itemno,itemo.discription,itemo.price)">
            <ion-icon name="md-more"  color="primary"></ion-icon>
          </button>
        </ion-fab>

      </ion-row>
    </ion-card-header>

    <div style="width: 100%;height: 1px;background:rgba(203,27,88,0.53); "></div>
    <ion-slides [hidden]="itemo.image.length <=0||itemo.image==undefined ? true:false"  style="width: 100%;height:300px;padding: 0px;"  loop="true" paginationType="fraction" pager="true" autoplay="2000" loop="true" zoom="true" >
      <ion-slide *ngFor="let imgi of itemo.image; let i=index">
        <img [src]="imgi.location" (click)="viewphoto(imgi.location)"/>

      </ion-slide>


    </ion-slides>

    <div style="width: 100%;height: 1px;background:rgba(203,27,88,0.53);"></div>




    <ion-card-content>


      <ion-row no-padding>

          <button ion-button icon-left clear small  >
            <ion-icon name="pricetag"></ion-icon>
          </button>
        <div ><p style="color: #a82158;font-size: large;white-space:pre;display: block;" ><b [innerHTML]="itemo.price|safeHtml"></b></p></div>

      </ion-row>

      <div style="width: 100%;height: 1px;background:rgba(203,27,88,0.53); "></div>
      <p style="text-align:justify;padding-top: 10px;white-space:pre;display: block;" [innerHTML]="itemo.discription|safeHtml"></p>


    </ion-card-content>
  </ion-card>

<!--
  <ion-fab right bottom >
    <button ion-fab   color="primary"(click)="additem()"><ion-icon name="add" color="action"></ion-icon></button>

  </ion-fab>
-->
</ion-content>
