page-home {
  .card-background-page {
    padding: 0px;

  }

  .card-title {
    text-align: center;
    font-size: 1.0em;
    word-wrap: break-word;
    width: 100%;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    color: #cb1b58;
  }

  .card-subtitle {
    text-align: center;
    font-size: 0.8em;
    padding-right: 10px;
    padding-left: 10px;
    word-wrap: break-word;
    width: 100%;
    color: #cb1b58;
  }

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}
